extends ../layout.jade
block contenido
	h1 Panel de administración
	table(class="table")
		caption Productos Actuales
		thead
			tr
				th #
				th GENERO
				th CIG
				th EXPA
				th IP
				th ALCOHOL
				th ENFISEMA
		tbody
			each product in products
				tr
					td= product.id
					td= product.genero
					td= product.cig
					td= product.expa
					td= product.ip
					td= product.alcohol
					td= product.enfisema
					td
						a(href="/menu/edit/#{product.id}") Editar
						=" - "
						a(href="/menu/delete/#{product.id}") Eliminar
						